if data.displayhtml
		.container: .row
			.col-sm-12.col-md-12
				br
				center
					a(href='/publications/') 
						img(src="/images/back_to_publications.png")
				div!= data.renderedMail
				center
					a(href='/publications/') 
						img(src="/images/back_to_publications.png")
else
	|Le mail a bien été envoyé sur votre adresse #{user.email}